<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<link rel="icon" type="image/png" href="static/assets/img/favicon.png">
        <title>تنها سایت رسمی رپکسا</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="static/css/style.css" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">RAPEXA</a><br>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="/sign_up" target="_blank" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">ثبت نام</a>
                        <a href="#contact" class="nav-item nav-link" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">ارتباط با من</a>
						<a href="#price" class="nav-item nav-link" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;"> خرید دوره ها</a>
						<a href="#experience" class="nav-item nav-link" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">تجربیات</a>
                        <a href="#service" class="nav-item nav-link" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">مهارت ها</a>
						<a href="#about" class="nav-item nav-link" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">درباره</a>
						<a href="#home" class="nav-item nav-link active" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">صفحه اصلی</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Hero Start -->
        <div class="hero" id="home">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-content">
							<div class="hero-text">
                                <h1 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">رپکسا</h1>
								<h2></h2>
                                <div class="typed-text" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">برنامه نویس فول استک  , یوتیوبر, پادکستر, مدیر سیستم, مدیر امنیت</div>
                            </div>
							<div class="hero-text">
								<a href="https://www.twitter.com/RAPEXA2/" target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="https://t.me/rapexa/" target="_blank"><i class="fab fa-telegram"></i></a>
								<a href="https://www.youtube.com/c/RAPEXA_ORG/" target="_blank"><i class="fab fa-youtube"></i></a>
								<a href="https://www.instagram.com/rapexa_rs/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/mohammad-gharehbagh-74b66b201/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="hero-btn">
                                <a class="btn" href="#price" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">خرید دوره ها</a>
                                <a class="btn" href="#contact" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">ارتباط با من</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <div class="hero-image">
                            <img src="static/img/hero.png" alt="Hero Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="static/img/about.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div dir="ltr" class="section-header text-right">
                                <p dir= "ltr" lang="fa-IR" charset="utf-8" style="direction: rtl;">درباره من</p>
                            </div>
                            <div class="about-text">
                                <center><h6 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">سلام من رپکسا هستم تولید کننده محتوای برنامه نویسی وبلاک چین وتست نفوذ و به شدت علاقه مند به پدیده های مالی غیر مترمکز و بلاکچین. عمده فعالیت های آموزشی من در مورد برنامه نویسی و مفاهیم بلاکچین و تست نفوذ هستش!</h6></center>
                            </div>
							<br>
                            <div class="skills">
                                <div class="skill-name">
                                    <p>Web Development</p><p>85%</p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="skill-name">
                                    <p>Python Programming Language</p><p>95%</p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="skill-name">
                                    <p>Apps Development</p><p>90%</p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="skill-name">
                                    <p>Solidity Programming Language</p><p>85%</p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <a class="btn" href="https://github.com/rapexa" target="_blank" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">گیتهاب</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
        <!-- Service Start -->
        <div class="service" id="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p dir="trl" lang="fa-IR" align="right" charset="utf-8" style="direction: rtl;">مهارت های من</p>
                    <h2></h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="service-item">
                            <div class="service-text">
                                <h3 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">توسعه وب</h3>
                                <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                    اولین بار که میخواستم وارد دنیای برنامه نویسی و کامپیوتر بشم روزی بود که با طراحی سایت و این جور قضایا تازه اشنا شده بودم و یادمه که اولین پروژه های که توی عمرم انجام دادم طراحی سایت با اچ تی ام ال و سی اس اس بودش که برای من تجربه ی خوبی به حساب میاد حدودا از سال ۲۰۱۶ تو این رشته بودم و هستم البته نه به اندازه ی قدیم و بیشتر الان برای تفریح خودم سایت خودم رو و سایت های که میزبانیش با خودم هست رو توسعه میدم.
                                </p>
                            </div>
							<div class="service-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item">
                            <div class="service-text">
                                <h3 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">برنامه نویسی با زبان پایتون</h3>
                                <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                    سال ۲۰۱۷ من با زبان قدرتمندی به نام پایتون اشنا شدم و شروع کردم به یادگیری حرفه زبان پایتون و داخل دوره های انلاین سایت های آموزشی خارجی ثبت نام کردم و هر روز تمرین میکردم بعد از یک سال شروع کردم به پروژه گرفتن و فعال بودن در انجمن های برنامه نویسی تا اینکه بلخره توی سال ۲۰۱۹ من تبدیل شدم به برنامه نویس حرفه ای پایتون و الان به صورت فول استک تمامی پروژه ها رو با پایتون شاد و خندون انجام میدم.
                                </p>
                            </div>
							<div class="service-icon">
                                <i class="fa fa-laptop-code"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-text">
                                <h3 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">توسعه اپلیکیشن</h3>
                                <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                    سال ۲۰۲۱ سال رشد من بودش و اونجا بود ک با CS50x ایران شرکت کردم این زمینه ای شد تا برم سراغ توسعه اپلیکیشن های اندرویدی و زبان برنامه نویسی دارت و بلخره بعد اتمام دوره یادگیری شروع کردم به همکاری و مشارکت کردن در پروژه های آزاد روی گیتهاب و این فعالیت روزمره تا به امروز ادامه داشته! تجربیات من رو در پایین تر میتونن بخونین  :)   
                                </p>
                            </div>
							<div class="service-icon">
                                <i class="fab fa-android"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-text">
                                <h3 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">برنامه نویسی با زبان سالیدیتی</h3>
                                <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                    سال ۲۰۱۸ بودش که من با دنیایی کریپتو کارنسی ها و بلاکچین آشنا شدم و شروع کردم مطالعه در موردش بعد ها فهمیدم اتریوم دارای بستریه که میشه براش برنامه نوشت که نا متمرکز باشن برای همین دنبال زبان برنامه نویسی بودم که بشه باهاش قرار داد هوشمند نوشت اینجا بود که فهمیدم سالیدیتی چیه و شروع کردم سال توی سال ۲۰۲۰ به یادگیری این زبان و از اون موقع تا الان داخل انجمن سالیدیتی فعال هستم و به دوستان و دانش پژوهان مشاوره میدم و این زبان رو تدریس میکنم.
                                </p>
                            </div>
							<div class="service-icon">
                                <i class="fa fa-laptop-code"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        
		<!-- Banner Start -->
        <div class="banner wow zoomIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="section-header text-center">
                    <p dir="rtl" lang="fa-IR" charset="utf-8" style="direction: rtl;">با ما برنامه نویسی رو یک بار برای همیشه یاد بگیرید !</p>
                    <h2 dir="rtl" lang="fa-IR" charset="utf-8" style="direction: rtl;">بهترین قیمت دوره های برنامه نویسی</h2>
                </div>
                <div class="container banner-text">
                    
					<h1 dir="rtl" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                        همین حالا خرید کنید!
                    </h1>
					
                    <a href="#price" class="btn nav-link" dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">خرید</a>
                </div>
            </div>
        </div>
        <!-- Banner End -->

         <!-- Experience Start -->
        <div class="experience" id="experience">
            <div class="container">
                <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">خلاصه رزومه من</p>
                    <h2 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">تجربیات کاری</h2>
                </header>
                <div class="timeline">
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">DEC 2020 - JAN 2021</div>
                            <h2 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;"><a href="https://github.com/rapexa/gameh_dovom_enghelab" target="_blank">پروژه گام دوم انقلاب</a></h2>
                            <h4 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">ایران, تهران</h4>
                            <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                               این پروژه برای انجمن کتاب خانی و بیانیه گام دوم انقلاب به سفارش نهاد دولتی انجام شد و کل دستمزد این پروژه به انجمن کتابخانی سیمرغ اهدا شد این پروژه اولین پروژه واقعی زندگی من بود و صرفا برای کسب تجربه بیشتر انجامش دادم.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">FEB 2021 - MAR 2021</div>
                            <h2 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;" ><a href="https://github.com/rapexa/labratory_mouse_home" target="_blank">پروژه لابراتوار شخصی موش های آزمایشگاهی</a></h2>
                            <h4 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">ایران, مشهد</h4>
                            <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                این پروژه سخت افزاری نرم افزاری رو به سفارش پژوهش سرای بزرگ مشهد انجام دادم و تجربه خوبی بود که با میکروکنترلر ها و سخت افزار های برنامه پذیر بیشتر اشنا بشم پروژه خوبی بود که حدودا یک ماه زمان برد و موفقیت آمیز بود پروژه خوشحال کننده ای هم از طرفی بود چون با درآمد این دوره تجهیزات تولید محتوا خریدم و کار جدی تولید محتوا رو از اونجا بود که شروع کردم.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">APR 2021 - MAY 2021</div>
                            <h2 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;"><a href="https://github.com/rapexa/sms_pc" target="_blank">پروژه ارسال اس ام اس از طریق وب</a></h2>
                            <h4 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">ایران, تهران</h4>
                            <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                این پروژه رو برای خودم انجامش دادم تلفن همراهم یک مدت دچار مشکل شده بود و نیاز داشتم با سیستم و از طریق مرورگر پیامک های مهمم رو بزنم در نتیجه احساس نیاز کردم که یک برنامه طراحی کنم که این کارو برام انجام بده در نتیجه این پروژه حاصل شد و یه مدتی کارمو راه انداخت تا اینکه یک تلفن همراه دیگه ای تهیه کردم و این پروژه رو به صورت آزاد منتشر کردم که هر کس مشکل من رو داشت ازش استفاده کنه و کارش راه بیوفته :)                            </p>
                            </p>
						</div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">AUG 2021 - SEP 2021</div>
                            <h2 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;"><a href="https://github.com/rapexa/weathever" target="_blank">پروژه سایت هواشناسی</a></h2>
                            <h4 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">مسابقات جوان خوارزمی رتبه یک کشوری در طراحی سایت</h4>
                            <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                توی سال ۲۰۲۱ با مسابقات جوان خوارزمی آشنا شدم و دلم خواست که منم شرکت کنم و یک تغییری بکنم و یکم بیشتر رشد کنم گفتم بیام توانایی هام توی برنامه نویسی سایت و پایتون رو ترکیب کنم و حاصلش شد این پروژه البته این هم اضافه کنم ک با این پروژه افتخار اینو داشتم که در مسابقات برگزیده شم و رتبه یک طراحی سایت رو داشته باشم.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">OCT 2021 - NOV 2021</div>
                            <h2 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;"><a href="https://github.com/rapexa/THE-EYES" target="_blank">پروژه THE-EYES</a></h2>
                            <h4 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">ایران, مشهد</h4>
                            <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                یک مدت عاشق کار های هکری شده بودم و دلم میخواست یک کار کوچیک بکنم برای همین با دوستانی که توی شرکت داشتم خواستم یک کار کوچیک و باحال بکنم گفتم که یک سیستم برای چت ناشناس  و غیر قابل ردگیری برنامه نویسی کنم که بتونه سیستم های مارو بهم وصل کنه و بتونیم با هم چت کنیم میدونم ایده کوچیکی بود و اصلا نیازی هم بهش نبود ولی گفتم باید انجامش بدم چون اگر انجامش نمیدادم یه حس بدی پیدا میکردم پس دست به کار شدم و انجامش دادم و حاصل اون چند هفته کد نویسی شدش این پروژه.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">DEC 2021 - FEB 2022</div>
                            <h2 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;"><a href="https://github.com/rapexa/Employee_management_system" target="_blank">پروژه مدریت کارمندان شرکت</a></h2>
                            <h4 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">تهران, ایران</h4>
                            <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
							    بعد از استخدام شدن توی یک شرکت دانش بنیان به عنوان برنامه نویس سوکت و شبکه با پایتون رفتم سراغ یادگیری چیزایی جدید و توی همین راستا برنامه نویسی سی شارپ رو یاد گرفتم کارفرما میخواست که برای شرکت یک نرم افزار مدیریت کارمندان بخره و هزینه زیادی رو تحمیل میکرد به شرکت برای همین من پیشنهاد اینو دادم که من نرم افزاری رو بنویسم و یک هزینه خیلی ناچیز بگیرم ازشون پس انجامش دادم و حتی یک نسخه اولیه از این نرم افزار رو به صورت آزاد توی گیتهاب منتشر کردم و دلایل خودمو داشتم برای اینکه کاملا آزاد منتشرش نکنم چون بعد کارفرما شاکی میشد و دلش میخواست ک مالکیت اون نرم افزار که من نوشتم برای شرکت باشه برای همین محدود تر بودم توی انتشار کد های نرم افزار.
                            </p>
                        </div>
                    </div>
					<div class="timeline-item left wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">FEB 2022 - MAR 2022</div>
                            <h2 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;"><a href="https://github.com/rapexa/rapocket" target="_blank">پروژه RAPOCKET</a></h2>
                            <h4 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">مشهد, ایران</h4>
                            <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
							                                    همیشه دچار مشکل بودم توی مدیریت هزینه هام پس دس به کار شدم و یک نرم افزار یا بهتر بگم یک سایت برای مدیریت هزینه های شخصیم نوشتم این سایت تفاوتی که با بقیه سایت هایی که کار کردم داشت تفاوتش این بود که میخواستم کار با فریم ورک جنگو رو یاد بگیریم در نتیجه زمانی زیاد تری رو ازم میگرفت و درگیری بیشتری برام داشت ولی ارزش اینو داشت که یک سیستم پیاده کنم برای خودم و کلی چیز جدید یاد بگیرم من عاشق یاد گیری چیز های تکنولوژیکال جدیدم پس این یکی خوراک خودم بود که در اخر هم به نتیجه نرسید :) به خاطر دلایل شخصی و درگیری هام توی تولید محتوا ها برای پیج اینستاگرام و کانال یوتیوب.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Experience End -->
        
        <!-- Banner Start -->
        <div class="banner wow zoomIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="section-header text-center">
                    <h3 dir="rtl" lang="fa-IR" charset="utf-8" style="direction: rtl;">طرح تخفیف افتتاح سایت</h3>
                    <h2 dir="rtl" lang="fa-IR" charset="utf-8" style="direction: rtl;">تجربه ی  <span>30%</span> تخفیف</h2>
                </div>
                <div class="container banner-text">
                    <h1 dir="rtl" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                        همین حالا خرید کنید!
                    </h1>
                    <a href="#price" class="btn nav-link" dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;" href="#buy">خرید</a>
                </div>
            </div>
        </div>
        <!-- Banner End -->
        
        <!-- Price Start -->
        <div class="price" id="price">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">بخش خرید</p>
                    <h2 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">لیست دوره ها</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="price-item">
                            <div class="price-header">
                                <div class="price-title">
                                    <h2 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">بسته آموزشی</h2>
                                </div>
                                <div class="price-prices">
                                    <h2>GIT</h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-description" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                    <ul dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                        <li><a href="#more" class='btn-link'>جزيیات بیشتر</a></li>
                                        <li>دسترسی به محتوا به صورت نامحدود</li>
                                        <li>آموزش عملی و پروژه محور</li>
                                        <li>پشتیبانی ۲۴ ساعته</li>
                                        <li>رایگان</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <a class="btn" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;" href="/sign_up" target="_blank">ثبت نام</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <div class="price-title">
                                    <h2 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">بسته آموزشی</h2>
                                </div>
                                <div class="price-prices">
                                    <h2 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">پایتون مقدماتی</h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-description">
                                    <ul dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                        <li><a href="#more1" class='btn-link'>جزيیات بیشتر</a></li>
                                        <li>دسترسی به محتوا به صورت نامحدود</li>
                                        <li>آموزش عملی و پروژه محور</li>
                                        <li>پشتیبانی ۲۴ ساعته</li>
                                        <li>۱,۰۰۰,۰۰۰ تومان</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <a class="btn" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;" href="/sign_up" target="_blank">ثبت نام</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="price-item">
                            <div class="price-header">
                                <div class="price-title">
                                    <h2 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">بسته آموزشی</h2>
                                </div>
                                <div class="price-prices">
                                    <h2 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">پایتون پیشرفته</h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-description">
                                    <ul dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">
                                        <li><a href="#more2" class='btn-link'>جزيیات بیشتر</a></li>
                                        <li>دسترسی به محتوا به صورت نامحدود</li>
                                        <li>آموزش عملی و پروژه محور</li>
                                        <li>پشتیبانی ۲۴ ساعته</li>
                                        <li>۱,۲۰۰,۰۰۰ تومان</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <a class="btn" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;" href="/sign_up" target="_blank">ثبت نام</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Price End -->
        
         <!-- Experience Start -->
        <div class="experience" id="more">
            <div class="container">
                <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <h2 dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">سرفصل های دوره ها</h2>
                </header>
                <div class="timeline">
                    <div id="more1" class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date" dir="rtl" lang="fa-IR" charset="utf-8" style="direction: rtl;">۱ ساعت و ۳۹ دقیقه</div>
							<h3 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">بسته آموزشی GIT</h3>
                            <p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
-	درس یکم      : مقدمات گیت و نصب آن
<br>-	درس دوم      : اولین اینیت (init) و اولین کامیت
<br>-	درس سوم     : بررسی تاریخچه کارها
<br>-	درس چهارم  : بررسی تغییرات انجام شده
<br>-	درس پنجم     : آشنایی با شاخه ها یا همان برنچ ها (Branch)
<br>-	درس ششم     : کمی بیشتر در مورد برنچ ها
<br>-	درس هفتم      : آشنایی و استفاده از گیت هاب (GitHub)
<br>-	درس هشتم     : بررسی و حل کانفلیکت های (Conflict) ریموت
<br>-	درس نهم       : تگ زدن برای شناسایی نسخه ها
<br>-	درس دهم       : امضا کردن تگ ها و کامیت ها
<br>-	درس یازدهم   : دیباگ کردن با کمک گیت
<br>-	درس دوازدهم : آشنایی با گیت لب و مشارکت در پروژه ها
                            </p>
                        </div>
                    </div>
                    <div id="more2" class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date" class="timeline-date" dir="rtl" lang="fa-IR" charset="utf-8" style="direction: rtl;">۶ ساعت و ۳۱ دقیقه</div>
                            <h3 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">بسته آموزشی پایتون مقدماتی</h3>
							<p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
-	فصل اول    : برنامه نویسی پایتون
<br>-	فصل دوم‌    : حلقه های تکرار در پایتون
<br>-	فصل سوم   : ساختار داده در پایتون
<br>-	فصل چهارم : کتابخانه ها در پایتون
<br>-	فصل پنجم   : کار با فایل در پایتون
<br>-	فصل ششم   : پروژه پایان دوره
                            </p>
                        </div>
                    </div>
                    <div id="more3" class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date" class="timeline-date" dir="rtl" lang="fa-IR" charset="utf-8" style="direction: rtl;">۵ ساعت و ۱۸ دقیقه</div>
                            <h3 dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">بسته آموزشی پایتون پیشرفته</h3>
							<p dir="rtl" align="right" lang="fa-IR" charset="utf-8" style="direction: rtl;">
-	فصل اول    : مقدمه
<br>-	فصل دوم‌    : برنامه نویسی شی گرا
<br>-	فصل سوم   : کار با دیتابیس ها در پایتون
<br>-	فصل چهارم : web scraping با پایتون
<br>-	فصل پنجم   : کار با API 
<br>-	فصل ششم   : آشنایی با کاربرد های واقعی پایتون در دنیا
<br>-	فصل ششم   : پروژه پایان دوره

                            </p>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Experience End -->
		        
        <!-- Contact Start -->
        <div class="contact wow fadeInUp" data-wow-delay="0.1s" id="contact">
            <div class="container-fluid">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="contact-form">
                                <div id="success"></div>
                                <form name="sentMessage" id="contactForm" novalidate="novalidate" action="" method="POST">
                                    <div class="control-group">
                                        <input type="text" class="form-control" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;" name="name" id="name" placeholder="اسم" required="required" data-validation-required-message="لطفا نام را وارد کنید" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="email" class="form-control" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;" name="email" id="email" placeholder="ایمیل" required="required" data-validation-required-message="لطفا ایمیل را وارد کنید" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="form-control" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;" name="phone" id="phone" placeholder="شماره همراه" required="required" data-validation-required-message="لطفا شماره همراه خود را وارد کنید" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="form-control" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;" name="title" id="title" placeholder="موضوع" required="required" data-validation-required-message="لطفا موضوع را وارد کنید" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="control-group">
                                        <textarea class="form-control" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;" name="message" id="message" placeholder="متن پیام" required="required" data-validation-required-message="لطفا متن پیام رو وارد کنید"></textarea>
                                        <p class="help-block"></p>
                                    </div>
                                    <div>
                                        <button class="btn" type="submit" id="sendMessageButton" dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">ارسال پیام</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>RAPEXA</h2>
                        <h3>Tehran, Iran</h3>
                        <div class="footer-menu">
                            <p>+98 915 552 0952</p>
                            <p>rapexamrs@gmail.com</p>
                        </div>
                        <div class="footer-social">
                            <a href="https://www.twitter.com/RAPEXA2/" target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="https://t.me/rapexa/" target="_blank"><i class="fab fa-telegram"></i></a>
							<a href="https://www.youtube.com/c/RAPEXA_ORG/" target="_blank"><i class="fab fa-youtube"></i></a>
							<a href="https://www.instagram.com/rapexa_rs/" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/mohammad-gharehbagh-74b66b201/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p dir="trl" lang="fa-IR" charset="utf-8" style="direction: rtl;">&copy; <a href="#">تمامی حقوق این سایت برای رپکسا محفوض میباشد!</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="static/lib/easing/easing.min.js"></script>
        <script src="static/lib/wow/wow.min.js"></script>
        <script src="static/lib/waypoints/waypoints.min.js"></script>
        <script src="static/lib/typed/typed.min.js"></script>
        <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="static/lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="static/js/main.js"></script>
    </body>
</html>
